In [78]:
import os #Files in listen abgreifen

import pandas as pd

import re # Regex brauchen wir, um die Namen aus den Filenamen rauszugreifen

Hier überprüfen wir, wie wir die Files abgreifen können, um sie später in einem Loop zu öffnen und die Daten rauzugreifen:

In [79]:
file_namen = os.listdir('Lieferung_SEB-Schulergebnisse_2/Schulberichte/Tabellen_2015')

In [80]:
file_namen

['KS Buelrain Gymnasium Anhang C 160302.xlsx',
 'KME Anhang C 160302.xlsx',
 'MNG Raemibuehl Anhang C 160303.xlsx',
 'KS Hohe Promenade Anhang C 160302.xlsx',
 'KS Zuercher Unterland Anhang C 160303.xlsx',
 'KS Freudenberg Anhang C 160302.xlsx',
 'KZO Anhang C 160303.xlsx',
 'Realgymnasium Raemibuehl Anhang C 160303.xlsx',
 'Liceo Artistico Anhang C 160303.xlsx',
 'KS Hottingen Gymnasium Anhang C 160303.xlsx',
 'Literaturgymnasium Raemibuehl Anhang C 160303.xlsx',
 'KS Wiedikon Anhang C 160303.xlsx',
 'KS Nord Gymnasium Anhang C 160303.xlsx',
 'KS Rychenberg Gymnasium Anhang C 160303.xlsx',
 'KS Limmattal Anhang C 160303.xlsx',
 'KS Stadelhofen Anhang C 160303.xlsx',
 'KS Uster Anhang C 160303.xlsx',
 'KS im Lee Anhang C 160303.xlsx',
 'KS Enge Gymnasium Anhang C 160302.xlsx',
 'KS Kuesnacht Anhang C 160303.xlsx']

Jetzt explorieren wir ein einzelnes File, damit wir sehen, wo wir unsere Daten herholen können (den Namen müssen wir aus dem Filenamen holen).

In [81]:
test = pd.read_excel("Lieferung_SEB-Schulergebnisse_2/Schulberichte/Tabellen_2015/KS Buelrain Gymnasium Anhang C 160302.xlsx")

In [82]:
test.loc[range(50,80)]

,Unnamed: 0,Unnamed: 1,Eigene Schule,Unnamed: 3,Unnamed: 4,Alle Schulen desselben Typs,Unnamed: 6,Unnamed: 7,Alle Schulen desselben Typs im Standortkanton,Unnamed: 9,Unnamed: 10
50,Beitrag der Schule zum Erwerb überfachlicher K...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Ich habe am Gymnasium / an der Berufsfachschul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,... meine eigenen Stärken und Schwächen zu kennen,34,3.9,1.4,2933,4.1,1.1,918,4.1,1.2
53,NaN,"... nachzufragen, wenn ich etwas nicht verstehe.",34,3.9,1.3,2940,4.2,1.2,920,4.3,1.2
54,NaN,... Aufgaben eigenständig zu bearbeiten.,34,4.2,1.2,2942,4.5,1.1,923,4.5,1.1
55,NaN,... Arbeiten rechtzeitig fertig zu stellen.,34,4.7,1.2,2933,4.8,1.2,921,4.7,1.2
56,NaN,... selbstständig Probleme zu lösen.,34,4.2,1.3,2941,4.3,1.1,923,4.3,1.1
57,NaN,... eigene Ideen umzusetzen.,34,3.9,1.3,2940,3.8,1.3,924,3.9,1.3
58,NaN,... eigenständig zu urteilen.,34,4.2,1.2,2921,4.2,1.3,915,4.3,1.3
59,Ich habe am Gymnasium / an der Berufsfachschul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,... mit anderen zusammen zu arbeiten.,34,4.6,1,2943,4.8,1,922,4.7,1
61,NaN,... in Gruppen Verantwortung zu übernehmen.,34,4.3,1.3,2929,4.4,1.2,917,4.3,1.2
62,NaN,... mit Konflikten umzugehen.,34,4,1.2,2908,3.9,1.2,908,4,1.2
63,NaN,... mit Kritik und Verbesserungsvorschlägen um...,34,4.3,1,2923,4.2,1.2,916,4.3,1.1
64,NaN,... tolerant zu sein gegenüber anderen Werten ...,34,4.7,1.3,2930,4.5,1.2,921,4.5,1.2
65,NaN,... Rücksicht zu nehmen auf andere.,34,4.4,1.4,2917,4.4,1.2,915,4.4,1.2
66,Ich habe am Gymnasium / an der Berufsfachschul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,... Gelerntes mit eigenen Worten wiederzugeben.,34,4.4,1.2,2925,4.4,1.1,918,4.5,1.1
68,NaN,"... Informationen aus Medien (Bücher, Internet...",34,4.2,1.2,2940,4.4,1.2,923,4.4,1.2
69,NaN,... verständlich und überzeugend vorzutragen.,34,4.2,1.4,2936,4.5,1.2,922,4.5,1.2
70,NaN,"... zu Beginn zu überlegen, wie ich am besten ...",33,4,1.3,2930,3.7,1.2,919,3.8,1.2
71,NaN,... Lernziele zu setzen.,34,3.9,1.5,2929,3.7,1.3,918,3.7,1.3
72,NaN,... verschiedene Strategien zur Problemlösung ...,34,3.7,1.3,2887,3.7,1.2,899,3.8,1.2
73,NaN,"... während des Lernens zu überprüfen, ob ich ...",32,3.6,1.4,2894,3.8,1.2,912,3.9,1.2
74,Beitrag der Schule zum Erwerb der IT-Kompetenzen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Ich habe am Gymnasium / an der Berufsfachschul...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,"... mit IT-Anwendungen (Word, Excel, Internet-...",34,3.6,1.3,2917,3.5,1.4,914,3.5,1.4
77,Beitrag der Schule zur politischen Bildung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,Am Gymnasium / an der Berufsfachschule / an de...,34,4.3,1.6,2950,3.7,1.5,927,3.8,1.4
79,NaN,Das Gymnasium / die Berufsfachschule / die Ber...,34,3.9,1.7,2931,3.4,1.6,924,3.6,1.6

In [83]:
for file in file_namen:
    print(file)

KS Buelrain Gymnasium Anhang C 160302.xlsx
KME Anhang C 160302.xlsx
MNG Raemibuehl Anhang C 160303.xlsx
KS Hohe Promenade Anhang C 160302.xlsx
KS Zuercher Unterland Anhang C 160303.xlsx
KS Freudenberg Anhang C 160302.xlsx
KZO Anhang C 160303.xlsx
Realgymnasium Raemibuehl Anhang C 160303.xlsx
Liceo Artistico Anhang C 160303.xlsx
KS Hottingen Gymnasium Anhang C 160303.xlsx
Literaturgymnasium Raemibuehl Anhang C 160303.xlsx
KS Wiedikon Anhang C 160303.xlsx
KS Nord Gymnasium Anhang C 160303.xlsx
KS Rychenberg Gymnasium Anhang C 160303.xlsx
KS Limmattal Anhang C 160303.xlsx
KS Stadelhofen Anhang C 160303.xlsx
KS Uster Anhang C 160303.xlsx
KS im Lee Anhang C 160303.xlsx
KS Enge Gymnasium Anhang C 160302.xlsx
KS Kuesnacht Anhang C 160303.xlsx

In [84]:
 # Unsere Regex
regex = r".*\b(?= Anhang)"

So zupfen wir den Namen raus:

In [85]:
name = re.search(regex, file_namen[1], re.IGNORECASE).group()
name

'KME'

Jetzt können wir das also in unsere loop einbauen:

In [86]:
allenamen = []

for file in file_namen:
    regex = r".*\b(?= Anhang)"
    name = re.search(regex, file, re.IGNORECASE).group()
    
    allenamen.append(name)
    
    print(name)

KS Buelrain Gymnasium
KME
MNG Raemibuehl
KS Hohe Promenade
KS Zuercher Unterland
KS Freudenberg
KZO
Realgymnasium Raemibuehl
Liceo Artistico
KS Hottingen Gymnasium
Literaturgymnasium Raemibuehl
KS Wiedikon
KS Nord Gymnasium
KS Rychenberg Gymnasium
KS Limmattal
KS Stadelhofen
KS Uster
KS im Lee
KS Enge Gymnasium
KS Kuesnacht

In [87]:
allenamen

['KS Buelrain Gymnasium',
 'KME',
 'MNG Raemibuehl',
 'KS Hohe Promenade',
 'KS Zuercher Unterland',
 'KS Freudenberg',
 'KZO',
 'Realgymnasium Raemibuehl',
 'Liceo Artistico',
 'KS Hottingen Gymnasium',
 'Literaturgymnasium Raemibuehl',
 'KS Wiedikon',
 'KS Nord Gymnasium',
 'KS Rychenberg Gymnasium',
 'KS Limmattal',
 'KS Stadelhofen',
 'KS Uster',
 'KS im Lee',
 'KS Enge Gymnasium',
 'KS Kuesnacht']

Das hier ist das Gleiche für die Listen von 2018:

In [88]:
file_namen2 = os.listdir('Lieferung_SEB-Schulergebnisse_2/Schulberichte/Tabellen_2018')

In [89]:
for file in file_namen2:
    regex = r"(?<=4 ).*\b(?= Anhang)"  # leicht angepasst, weil hier die Files mit einer 4 beginnen
    name = re.search(regex, file, re.IGNORECASE).group()
    
    allenamen.append(name)

In [90]:
df = pd.DataFrame(allenamen)

In [91]:
df[0].value_counts()

KS Limmattal                     2
Liceo Artistico                  2
KS Wiedikon                      2
KME                              2
KS Uster                         2
KS im Lee                        2
KS Stadelhofen                   2
KZO                              2
KS Freudenberg                   2
KS Kuesnacht                     2
LG Raemibuehl                    1
KS Enge Gymnasium                1
KS Nord Gymnasium                1
Realgymnasium Raemibuehl         1
KSHP Gym                         1
Literaturgymnasium Raemibuehl    1
KS Hohe Promenade                1
KZU                              1
KZN Gym                          1
KS Hottingen Gymnasium           1
KS Hottingen Gym                 1
KBW Gym                          1
MNG                              1
MNG Raemibuehl                   1
KS Rychenberg Gymnasium          1
KS Rychenberg Gym                1
KS Buelrain Gymnasium            1
KS Zuercher Unterland            1
Realgym Raemibuehl               1
KEN Gym                          1
Name: 0, dtype: int64

Schön wäre, wen wir die KS noch wegbringen - und die Gym und Gymnasium am Schluss:

In [131]:
allenamen = []

for file in file_namen:
    regex = r".*\b(?= Anhang)"
    name = re.search(regex, file, re.IGNORECASE).group()
    if "Gym" in name:
        regex = r".*\b(?= Gym.*)"
        name = re.search(regex, name, re.IGNORECASE).group()
    if "KS" in name:
        regex = r"(?<=KS ).*\b"
        name = re.search(regex, name, re.IGNORECASE).group()
    allenamen.append(name)
    
    print(name)

Buelrain
KME
MNG Raemibuehl
Hohe Promenade
Zuercher Unterland
Freudenberg
KZO
Realgymnasium Raemibuehl
Liceo Artistico
Hottingen
Literaturgymnasium Raemibuehl
Wiedikon
Nord
Rychenberg
Limmattal
Stadelhofen
Uster
im Lee
Enge
Kuesnacht

## Bingo!

Also, nochmals von vorn:

In [137]:
jahr = 2015
dic_list = []

for file in file_namen:
    regex = r".*\b(?= Anhang)"
    name = re.search(regex, file, re.IGNORECASE).group()
    if "Gym" in name:
        regex = r".*\b(?= Gym.*)"
        name = re.search(regex, name, re.IGNORECASE).group()
    if "KS" in name:
        regex = r"(?<=KS ).*\b"
        name = re.search(regex, name, re.IGNORECASE).group()

    # Jetzt öffnen wir das jeweilige File als Dataframe:
    
    df = pd.read_excel("Lieferung_SEB-Schulergebnisse_2/Schulberichte/Tabellen_2015/" + str(file))
    
    zufr = df.loc[20,"Unnamed: 3"]
    vorb_f = df.loc[22,"Unnamed: 3"]
    vorb_p = df.loc[24,"Unnamed: 3"]
    prob = df.loc[56,"Unnamed: 3"]
    urt = df.loc[58,"Unnamed: 3"]
    zus = df.loc[60,"Unnamed: 3"]
    konf = df.loc[62,"Unnamed: 3"]

    mini_dict = {"jahr": jahr, 
                 "name": name, 
                 "zufr": zufr, 
                 "vorb_f": vorb_f, 
                 "vorb_p":vorb_p, 
                 "prob": prob, 
                 "urt": urt, 
                 "zus": zus, 
                 "konf": konf}
    dic_list.append(mini_dict)

In [139]:
df_final = pd.DataFrame(dic_list)
df_final.to_csv("Pandas_Results2015.csv")
df_final

,jahr,name,zufr,vorb_f,vorb_p,prob,urt,zus,konf
0,2015,Buelrain,4.9,4.2,4.3,4.2,4.2,4.6,4.0
1,2015,KME,4.9,4.0,4.4,4.1,4.3,4.3,3.7
2,2015,MNG Raemibuehl,4.5,4.6,3.7,3.8,3.8,4.1,3.6
3,2015,Hohe Promenade,5.0,4.4,4.8,4.6,4.5,4.8,4.1
4,2015,Zuercher Unterland,5.2,4.5,4.4,4.4,4.6,4.6,4.2
5,2015,Freudenberg,5.2,4.3,4.7,4.8,4.7,5.0,4.3
6,2015,KZO,4.9,4.3,4.5,4.3,4.4,4.8,4.0
7,2015,Realgymnasium Raemibuehl,5.1,4.1,4.9,4.6,4.9,5.0,4.7
8,2015,Liceo Artistico,5.0,4.0,5.1,4.9,5.3,5.3,4.7
9,2015,Hottingen,4.6,3.9,4.4,4.0,4.4,4.5,4.0
10,2015,Literaturgymnasium Raemibuehl,5.0,4.0,4.6,4.4,4.1,4.7,3.8
11,2015,Wiedikon,4.7,4.1,4.1,4.0,3.8,4.8,3.8
12,2015,Nord,4.8,4.1,4.3,4.1,4.2,4.9,4.0
13,2015,Rychenberg,4.8,4.3,4.2,4.3,3.9,4.4,3.6
14,2015,Limmattal,4.8,4.5,4.2,4.3,4.2,4.8,4.0
15,2015,Stadelhofen,4.6,3.8,4.3,4.4,4.3,4.8,4.1
16,2015,Uster,4.6,4.2,4.3,4.1,4.5,4.9,3.8
17,2015,im Lee,5.1,4.2,4.7,4.5,4.4,4.7,3.9
18,2015,Enge,4.5,3.8,4.2,4.3,4.3,4.6,4.0
19,2015,Kuesnacht,5.1,3.8,5.0,4.5,4.6,5.3,4.3